{"name":{"name":"sasa","path":"D:\\Downloads\\sasa","sceneLoaded":{"name":"Scene","path":"D:\\Downloads\\sasa\\Scenes","config":{"name":"Scene","path":"D:\\Downloads\\sasa\\Scenes","GameObjects":[]}},"scenes":[{"name":"Scene","path":"D:\\Downloads\\sasa\\Scenes","config":{"name":"Scene","path":"D:\\Downloads\\sasa\\Scenes","GameObjects":[]}}]},"path":"null\\[object Object]","sceneLoaded":{"name":"Scene","path":"null\\[object Object]\\Scenes","config":{"name":"Scene","path":"null\\[object Object]\\Scenes","GameObjects":[]}},"scenes":[{"name":"Scene","path":"null\\[object Object]\\Scenes","config":{"name":"Scene","path":"null\\[object Object]\\Scenes","GameObjects":[]}}]}