.app-container {
  color: white;

  width: 100vw;
  height: calc(100vh - 35px);

  display: flex;
}



.small-mode {
  height: calc(200vh - 35px);
  width: 100vw;

  overflow: scroll !important;

  &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
   
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

}

.project-area{
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.options-area{
  width: 350px;
  align-items: center;
}

.option{
  width: 100%;
  justify-content: space-between;
}